body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #FDEFEF;
  background-color: #021010;
}

body * {
  box-sizing: border-box;
}

header,
main {
  border-bottom: #FDEFEF 2px solid;
}

footer {
  padding: 2ex;
}

header img,
main img {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}

footer>p.copyright {
  margin: 0 auto;
  font-size: smaller;
  text-align: center;
}

aside {
  position: fixed;
  bottom: 3ex;
}

aside:first-of-type {
  right: 1em;
}

aside:last-of-type {
  display: flex;
  left: 1em;
  flex-direction: column;
  flex-wrap: wrap;
}

aside:last-of-type>* {
  margin: 0 auto 1em auto;
}

aside>iframe {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 540px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    bottom: 2%;
    left: 5%;
    right: 5%;
  }

  aside,
  aside:first-of-type,
  aside:last-of-type {
    max-width: 90%;
    position: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }
}