body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #FDEFEF;
  background-color: #021010;
}

body * {
  box-sizing: border-box;
}

header img {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}

footer>p.copyright {
  margin: 0 auto;
  font-size: smaller;
  text-align: center;
}