body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #FDEFEF;
  background-color: #021010;
}

body * {
  box-sizing: border-box;
}

header,
main {
  border-bottom: #FDEFEF 2px solid;
}

footer {
  padding: 2ex;
}

header img,
main img {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}

footer>p.copyright {
  margin: 0 auto;
  font-size: smaller;
  text-align: center;
}

aside {
  position: fixed;
}

aside:first-of-type {
  right: 0;
  bottom: 0;
}

aside:last-of-type {
  display: flex;
  left: 0;
  bottom: 0;
  flex-direction: column;
  flex-wrap: wrap;
}

aside:last-of-type>* {
  margin: 0.5em auto;
}

aside>iframe {
  max-width: 100%;
  max-height: 100%;
}